.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-create{
  width: 100%;
}
.task-update{
  width: 100%;
}
.task-form{
  display: flex;
  flex-direction: column;
}
.task-label{
  margin: 10px 0px;
}
.task-input{
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
.task-button{
  border: 1px solid green;
  margin: 10px 0px;
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 10px;
  font-size: 20px;
}
.update-button{
  background-color: blueviolet;
}
.task-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.task-show{
  border: 1px solid rgb(116, 57, 136);
  border-radius: 30px;
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.task-title{
  margin-bottom: 3px;
}
.task-delete{
  padding: 5px;
  font-size: 16px;
  width: 60px;
  border: none;
  border-radius: 30px;
  background-color: red;
  color: white;
  margin-right: 10px;
}
.task-edit{
  padding: 5px;
  font-size: 16px;
  width: 90px;
  border: none;
  border-radius: 30px;
  background-color: rgb(30, 123, 199);
  color: white;
  margin-right: 10px;
}